//type sizes
$base-font-size: 16px;
  $rem-base: $base-font-size;
  $em-base: $base-font-size;

// ---- PROJECT VARIABLES ----------------------------------------------------------------------- //
//am in process of prefixing my variables with "ajy-" to avoid confusing them with Foundation variables (except colors)

//grayscale colors - from base16 ocean
$white: #eff1f5;
$lightgray: #c0c5ce;
$midgray: #65737e;
$darkgray: #343d46;
$black: #2b303b;

//base16 ocean colors- good starting point
$red: #bf616a;
$orange: #d08770;
$yellow: #ebcb8b;
$green: #a3be8c;
$cyan: #96b5b4;
$blue: #8fa1b3;
$purple: #b48ead;
$brown: #ab7967;

//spacing + roundness
$ajy-spacing: 24px;
$global-radius: 4px;

//body background color
$body-bg: $white;

//type sizes
//see base font size up above
$base-line-height: 1.5rem;

$body-font-family: 'Liberation Sans', sans-serif;
$body-font-color: $darkgray;

$header-font-family: 'Liberation Sans', sans-serif;
$header-font-weight: bold;
$header-font-color: $black;
$h6-font-color: $darkgray;

//Foundation Defaults
//$h1-font-size: rem-calc(44) !default;
//$h2-font-size: rem-calc(37) !default;
//$h3-font-size: rem-calc(27) !default;
//$h4-font-size: rem-calc(23) !default;
//$h5-font-size: rem-calc(18) !default;
//$h6-font-size: 1rem !default;

//Major Third scale
$h1-font-size: 2.074rem;
$h2-font-size: 1.728rem;
$h3-font-size: 1.44rem;
$h4-font-size: 1.2rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;

$blockquote-color: $midgray;

//max-width
$row-width: 62.5rem;
$column-gutter: $ajy-spacing;

//Main Menu
$ajy-navheight: 50px;
$ajy-navbg: $darkgray;
$ajy-navcolor: $lightgray;
$ajy-nav-subwidth: 200px;
$ajy-nav-subbg: $darkgray;
$ajy-nav-subcolor: $lightgray;

//Aaron note... override for Foundation variables (colors)
$primary-color: $blue;
$secondary-color: $lightgray;
$alert-color: $red;
$success-color: $green;
$warning-color: $orange;
$info-color: $cyan;

// Override Foundation variables: Add section from foundation-5/bower_components/foundation/scss/foundation/_settings.scss
// Then uncomment and customize the variables as needed.

// -- EXAMPLE - Panels settings from Foundation settings -- //
// Panels

// $include-html-panel-classes: $include-html-classes;

// We use these to control the background and border styles
$panel-bg: $lightgray;
// $panel-border-style: solid;
// $panel-border-size: 1px;

// We use this % to control how much we darken things on hover
// $panel-function-factor: 10%;
// $panel-border-color: darken($panel-bg, $panel-function-factor);

// We use these to set default inner padding and bottom margin
// $panel-margin-bottom: rem-calc(20);
// $panel-padding: rem-calc(20);

// We use these to set default font colors
$panel-font-color: $darkgray;
$panel-font-color-alt: $white;

// $panel-header-adjust: true;
// $callout-panel-link-color: $primary-color;